<div>
  <%- artists[0].name%>
  <img src="<%- artists[0].images[0].url%>" alt="" />
  <button><a href="<%- artists[0]%>"></a>Albums</button>

  <!-- <div class="element">

            <img src="{{this.images.[0].url}}"/>
            <P>{{this.name}}</P>
            <button><a href="/albums/{{this.id}}">View Albums</a></button>

        </div> -->
</div>
